form {
    border: black;
    background-color: aliceblue;
    border-radius: 50px;
    padding: 30px;
    padding-bottom: 60px;
}

main {
    display: flex;
    text-align: center;
}

aside {
    padding: 48px
}

h1 {
    text-align: center;
}